.Main-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Main-container:hover > div{
    border-top: 1px solid #FF8B37;
    border-bottom: 1px solid #FF8B37;
}
.Main-container:hover > div:nth-child(2):before,
.Main-container:hover > div:nth-child(2):after{
    border-left: 1px solid #FF8B37;
    border-top: 1px solid #FF8B37;
}

.Container {
    width: 75%;
    border-top: 1px solid #D0D0D8;
    border-bottom: 1px solid #D0D0D8;
    padding: 0.75em 0;
    font-size: 0.625em;
    position: relative;
    z-index: 2;
}

.Container > div {
    padding: 0 0.5em;
}
.Container:before,
.Container:after {
    content: "";
    position: absolute;
    width: 2.05em;
    height: 2.1em;
    top: 0;
    z-index: -1;
    border-top: 1px solid #D0D0D8;
    border-left: 1px solid #D0D0D8;
}

.Container:before {
    border-radius: 0 12% 0 17%;
    transform: rotate(-45deg) translateX(-45%) translateY(-25%);
    left: 0;
}

.Container:after {
    border-radius: 0 13% 0 15%;
    transform: rotate(135deg) translateX(-27%) translateY(-43%);
    right: 0;
}


.selected:before,
.selected:after{
    border-top: 1px solid #FF8B37 !important;
    border-left: 1px solid #FF8B37 !important;
    background-color: #FFF3EB;
}
.correct:before,
.correct:after{
    border-top: 1px solid #47D867 !important;
    border-left: 1px solid #47D867 !important;
    background-color: #E6FAEA;
}
.wrong:before,
.wrong:after{
    border-top: 1px solid #EC6259 !important;
    border-left: 1px solid #EC6259 !important;
    background-color: #FDEEED;
}


.selected,
.correct,
.wrong {
    width: 75%;
    z-index:2;
}

.selected {
    border-top: 1px solid #FF8B37 !important;
    border-bottom: 1px solid #FF8B37 !important;
    background-color: #FFF3EB !important;
}
.correct{
    border-top: 1px solid #47D867 !important;
    border-bottom: 1px solid #47D867 !important;
    background-color: #E6FAEA !important;
}
.wrong {
    border-top: 1px solid #EC6259 !important;
    border-bottom: 1px solid #EC6259 !important;
    background-color: #FDEEED;
}

.-before {
    content: "";
    width: 6.5%;
    border-top: 1px solid #D0D0D8;
    align-self: center;
}







@media screen and (min-width: 320px) and (max-width: 768px) {
    .Container {
        font-size: 0.438em;
    }
    .Main-container:hover > div{

    }
    .Main-container:hover > div:nth-child(2):before,
    .Main-container:hover > div:nth-child(2):after{
    }
}

@media  screen and (min-width: 768px) and (max-width: 820px) {
    .Container {
        font-size: 0.5em;
    }
}



@media screen and (min-width: 820px) and (max-width: 1024px){
    .-before {
        content: "";
        width: 4.2%;
        border-top: 1px solid #D0D0D8;
        align-self: center;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {

    .-before {
        width: 6.5%;
    }
}


@media  screen and (min-width: 1441px) and (max-width: 1660px) {
    .-before {
        width: 7%;
    }
}

@media  screen and (min-width: 1661px) and (max-width: 1860px) {
    .-before {
        width: 7.5%;
    }
}
@media  screen and (min-width: 1861px) and (max-width: 2100px) {
    .-before {
        width: 8%;
    }
}

@media  screen and (min-width: 2101px) and (max-width: 2560px) {
    .-before {
        width: 9%;
    }
}







@media screen and (min-width:353px) and (max-width: 425px) {
    .-before {
        width: 7.5%
    }
}

@media screen and (min-width:425px) and (max-width: 500px) {
    .-before {
        width: 8%;
    }
}
@media screen and (min-width:500px) and (max-width: 570px) {
    .-before {
        width: 8.5%;
    }
}

@media screen and (min-width:570px) and (max-width: 640px) {
    .-before {
        width: 9.5%;
    }
}

@media screen and (min-width:640px) and (max-width: 820px) {
    .-before {
        width: 9.7%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1100px) {
    .-before {
        width: 4.2%;
    }
}@media screen and (min-width:1100px) and (max-width: 1439px) {
    .-before {
        width: 5.5%;
    }
}






